<h2>Show Seller</h2>

<a class="btn btn-primary" <%=link_to"Welcome", root_path %> </a>
<a class="btn btn-primary" <%=link_to"Buyers List",buyers_path %> </a>


<h2>id: <%= @seller.id %></h2><br>
<h2>room: <%= @seller.room %></h2><br>
<h2>bedroom: <%= @seller.bedroom %></h2><br>


<a class="btn btn-primary" <%=link_to"Edit Seller",edit_seller_path %> </a>
