<h2>Buyers</h2>

<%= link_to "Create a buyer.", new_buyer_path  %>


<% # Module de recherche des buyer %>
<%= form_tag(buyers_path, method: :get) do %>
  
  <%= text_field_tag :room, params[:room]%>
  <%= text_field_tag :bedroom, params[:bedroom]%>
  <%= submit_tag 'Search', name: nil %>
<% end %>

<% # On affiche les buyers %>

<table class="table">
 <tjead>
  <tr>
      <th scope="col">#</th>
      <th scope="col">Room</th>
      <th scope="col">Bedroom</th>
  </tr>
  </thead>
<tbody>
<% @buyers.each do |buyer| %>
<tr>
  <th scope>
    <td><%= link_to buyer.id, buyer_path(buyer) %></td>
    <td>%= buyer.room %></td>
    <td><%= buyer.bedroom %></td>

</th>
</tr>
</tbody>
</table>

<% end %>