<h2>Buyers</h2>

<%= link_to "Create a buyer.", new_buyer_path  %>


<% # Module de recherche des buyer %>
<%= form_tag(buyers_path, method: :get) do %>
  
  <%= text_field_tag :room, params[:room]%>
  <%= text_field_tag :bedroom, params[:bedroom]%>
  <%= submit_tag 'Search', name: nil %>
<% end %>

<% # On affiche les buyers %>
<% @buyers.each do |buyer| %>
<p><%= link_to buyer.id, buyer_path(buyer) %><%= buyer.room %> <%= buyer.bedroom %></p>
<% end %>