<h2>Buyers</h2>

<%= link_to "Create a buyer.", new_buyer_path  %>


<% # Module de recherche des buyer %>
<%= form_tag(buyers_path, method: :get) do %>
  <%= text_field_tag :room, params[:room]%>
  <%= text_field_tag :bedroom, params[:bedroom]%>
  <%= submit_tag 'Search', name: nil %>
<% end %>

<% # On affiche les buyers %>

<table class="table">
 <thead>
  <tr>
      <th scope="col"><%= link_to "#", buyers_path  %> </th>
      <th scope="col"><%= link_to "Room", buyers_path %>   </th>
      <th scope="col"><%= link_to "Bedroom", buyers_path %></th>
  </tr>
  </thead>
<tbody>
<% @buyers.each do |buyer| %>
<tr>
  <td><%= link_to buyer.id, buyer_path(buyer) %></td>
  <td><%= buyer.room %></td>
  <td><%= buyer.bedroom %></td>
  <% end %>
  <th scope = "row">
    
    
</th>
</tr>
</tbody>
</table>

