<h2>Show Buyer</h2>

<%=link_to"Welcome", root_path, class:"btn btn-primary" %>
<%=link_to"Buyers List",buyers_path, class:"btn btn-primary" %>


<h2>id: <%= @buyer.id %></h2><br>
<h2>room: <%= @buyer.room %></h2><br>
<h2>bedroom: <%= @buyer.bedroom %></h2><br>


<%=link_to "Edit Buyer",edit_buyer_path, class:"btn btn-primary" %>
